.env
.env.*
!.env.example
*.env

__pycache__/
*.pyc
.pytest_cache/

data/raw/
data/standardized/
data/curated/
data/dq_results/

docker/postgres/data/
docker/minio/data/
docker/logs/

logs/ingestion/
logs/spark/
logs/sql/
logs/dq/
dbt_packages/
target/
logs/

.vscode/
.idea/
.DS_Store
docker-compose.override.yml
*.session.sql
